<?xml version="1.0"?>

<robot name="iris" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Properties that can be assigned at build time as arguments.
  Is there a reason not to make all properties arguments?
  -->

  <!-- macros for gazebo plugins, sensors -->
  <xacro:include filename="$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

  <xacro:include filename="$(find turtlebot3_ultrasonic_demo_description)/urdf/ultrasonic_sensor.urdf.xacro" />

  <xacro:ultrasonic_sensor name="ultranic_sensor1"/>
  <xacro:ultrasonic_sensor name="ultranic_sensor2"/>
  <xacro:ultrasonic_sensor name="ultranic_sensor3"/>

  <joint name="ultrasonic_joint1" type="fixed">
    <origin xyz="0.03 0 0.02" rpy="0 0 0" />
    <parent link="base_scan" />
    <child link="ultranic_sensor1" />
  </joint>

  <joint name="ultrasonic_joint2" type="fixed">
    <origin xyz="0.03 0.02 0.02" rpy="0 0 0.7854" />
    <parent link="base_scan" />
    <child link="ultranic_sensor2" />
  </joint>

  <joint name="ultrasonic_joint3" type="fixed">
    <origin xyz="0.03 -0.02 0.02" rpy="0 0 -0.7854" />
    <parent link="base_scan" />
    <child link="ultranic_sensor3" />
  </joint>


</robot>
